/* style.css */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
}
